/* Global val */
:root {
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-samll: 16px;
  --font-micro: 14px;

  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  max-width: 1520px;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding-left: 0;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: black;
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: black;
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-samll);
  font-weight: var(--weight-regular);
  color: black;
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: black;
  margin: 4px 0px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* menu bar */
#header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 32px;
  background-color: transparent;
  position: fixed;

  transition: 300ms linear;
  z-index: 1;

  max-width: 1520px;
  margin: auto;
}

#header.header--dark {
  background-color: #94e1e9f3;
  padding: 5px;
}

.header__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.header__menu {
  display: flex;
  width: 100%;
}

.header__menu__item {
  padding: 8px 4px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: all 300ms;
}

.header__menu__item.active {
  border: 1px solid white;
}

.header__menu__item:hover {
  background-color: #82dae4;
  border: 1px solid white;
}
.contact__but {
  margin-top: 32px;
}
.header__toggle {
  position: absolute;
  right: 16px;
  font-size: 32px;
  display: none;
}
/* Home */

#home {
  background: url("./Image/background.png") center/cover no-repeat;
  width: 100%;
  height: 500px;
  text-align: center;
  padding: 40px;
  padding-top: 80px;
  color: white;
}

.home__thumbnail img {
  width: 200px;
  height: 200px;
  border: 2px solid white;
  border-radius: 50%;
}

.home__title,
.home__coment,
.home__contact {
  color: white;
}

.home__coment {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
}

.home__contact {
  border: 2px solid white;
  border-radius: 4px;
  font-size: var(--font-regular);
  font-weight: var(--font-medium);
  padding: 4px;
}

.home__contact:hover {
  background-color: rgb(152, 152, 236);
  transition: 300ms;
}

/* Section */
.section {
  max-width: 1200px;
  text-align: center;
  padding: 50px;
  margin: auto;
}

/* About */

.about__major {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

.major {
  text-align: center;
}

.major__icon {
  display: flex;
  width: 150px;
  height: 150px;
  border: solid 1px rgb(40, 214, 24);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: auto;
}

.major__icon i {
  font-size: 75px;
  color: yellowgreen;
  transition: 300ms ease;
}

.major__icon:hover i {
  color: blueviolet;
  animation-direction: alternate;
  transform: rotate(-35deg) scale(1.2);
  transition: 300ms ease;
}

.about__career {
  display: flex;
  padding-top: 20px;
  border-top: solid 2px darkgray;
}

.about__career img {
  width: 75px;
  height: 75px;
  margin-right: 10px;
}

.career__name,
.career__time {
  height: 50%;
  line-height: 40px;
  font-size: var(--font-micro);
  color: darkgray;
}

/* Skills */

#skills {
  background-color: bisque;
}

.skillset {
  background-color: white;
  width: 100%;
  display: flex;
  margin-top: 20px;
}

.skillset li {
  margin: 10px 0;
  padding: 0 20px 0 20px;
  text-align: left;
}
.skillset img {
  width: 50px;
}

.skillset i {
  font-size: 50px;
  color: #e84d31;
}
.skillset .tools_box {
  height: 50%;
  padding-top: 10px;
}

.skillset .tools_box h2 {
  margin: 0;
}

.skillset__leng {
  background-color: dimgrey;
}

.skillset__tools {
  background-color: gray;
}

.skillset__tools ul {
  display: flex;
  justify-content: center;
}

.skillset__leng,
.skillset__tools {
  width: 50%;
}

.skillset .tools_box:nth-child(1) {
  border-bottom: 1px solid black;
}

.skillset .tools_box:nth-child(2) {
  border-top: 1px solid black;
}

.skillset .box {
  width: 100%;
  height: 3px;
  margin-top: 5px;
  background-color: honeydew;
}

.skillset .percent {
  height: 100%;
  background-color: hotpink;
}

/* Contact */
#contact {
  background-color: rgb(206, 183, 228);
  text-align: center;
  padding: 50px;
  margin-top: 20px;
}

#contact .links {
  margin-top: 20px;
}

#contact .links i {
  font-size: 30px;
  transition: 300ms;
}

#contact .links i:hover {
  transform: scale(1.1);
}

#contact .links .fab:hover {
  color: purple;
}

#contact .links .fas:hover {
  color: chartreuse;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: var(--font-medium);
    font-weight: var(--weight-bold);
    color: black;
    margin: 16px 0px;
  }

  h2 {
    font-size: var(--font-micro);
    font-weight: var(--weight-semi-bold);
    color: black;
    margin: 8px 0px;
  }

  h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: black;
    margin: 8px 0px;
  }

  p {
    font-size: var(--font-samll);
    font-weight: var(--weight-semi-bold);
    color: black;
    margin: 4px 0px;
  }
  .header__toggle {
    display: block;
  }

  #header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    background-color: #94e1e9f3;
  }

  .header__menubox {
    width: 100%;
    display: none;
    text-align: center;
  }
  .header__menubox.open {
    display: block;
  }

  .header__menu {
    display: inline-block;
  }

  .about__major {
    flex-direction: column;
  }
  .major {
    margin: 20px;
  }

  .skillset {
    flex-direction: column;
  }
  .skillset__leng,
  .skillset__tools {
    width: 100%;
  }
}

/* arrow-up */
.arrowup {
  position: fixed;
  right: 5%;
  bottom: 5%;
  pointer-events: none;
  opacity: 0;
  transition: all 300ms;
}
.arrowup.visible {
  pointer-events: auto;
  opacity: 1;
}

.arrowup i {
  font-size: 30px;
}

.arrowup i:hover {
  color: blue;
}
#work{
  text-align: center;
}
.work__projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 215px;
  height: 250px;
  margin: 2px;
  
  position: relative;
}

.project__image{
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}

.project__description{
  position: absolute;
  /* 근접한 무모 태그 중 position:static을 사용하지 않는 부모를 기준으로 움직임 */
  /* defualt position: static */
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: 0.3s;
}

.project__description:hover{
  opacity: 0.8;
}

.project__description h3,
.project__description span{
  color: white;

  text-align: center;
}

.project__description h3:after{
  content: '';
  width: 25px;
  height: 2px;
  background-color: azure;
  display: block;
  position: relative;
  left: 50%;
  
  margin-left: -15px;
  margin-top: 8px;
}

